@import '../../../style/_variables.scss';

.text-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__label{
        font-size: 20px;
    }
    &__input{
        padding: 1rem;
        border: 1px solid $background;
        background-color: transparent;
        font-size: 18px;
        font-family: $open-sans;
        color: $background;
        resize: none;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $background;
            opacity: 0.8;
        }
    }
}