@import '../../style/_variables.scss';

.page-header {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}

@media screen and (max-width: 440px) {
    .page-header{
        font-size: 45px;
        text-align: center;
    }
}