@import '../../style/_variables.scss';

.projects-page{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $background;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 5rem;
        &__header{
            font-size: 70px;
            font-weight: 600;
        }
        &__projects-section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
        }
    }
}