@import '../../style/_variables.scss';

.profile-image{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    &__img{
        width: 350px;
        height: 340px;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: 2px 10px 29px -13px rgba(0,0,0,0.68);
        -webkit-box-shadow: 2px 10px 29px -13px rgba(0,0,0,0.68);
        -moz-box-shadow: 2px 10px 29px -13px rgba(0,0,0,0.68);
    }
    &__overlay{
        width: 350px;
        height: 340px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background;
        opacity: 0.6;
        animation: fadeInUp 0.3s;
        &__socials{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__name{
            font-size: 26px;
            font-weight: 500;
        }
        &__role{
            font-size: 16px;
        }
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.6;
    }
}