@import '../../style/_variables.scss';

.contact-form {
    &__form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__inputs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            align-items: flex-start;
            &__btn{
                margin-top: 1rem;
                padding: 1rem;
                border: 1px solid $white;
                background-color: $white;
                font-size: 18px;
                font-family: $open-sans;
                color: $purple;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    background-color: $purple;
                    color: $white;
                }
            }
        }
    }
}