$purple: #801279;
$purple-transparent: rgba(128, 18, 121, 0.8);
$background: #f6f6f6;
$background-transparent: rgba(246, 246, 246, 0.5);
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.7);
$white: #fff;



//fonts
$open-sans: "Open Sans", sans-serif;
$kanit: "Kanit", sans-serif;