.footer{
    max-width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
    &__title{
        font-size: 70px;
    }
    &__links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10rem;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        gap: 2rem;
        &__links {
            gap: 5rem;
            justify-content: flex-start;
        }
    }
}