@import '../../style/_variables';

.welcome-page{
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: $background;
    &__content-section{
        padding: 5rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        line-height: 1;
        &__about{
            align-self: center;
            margin: 5rem 0 0 0;
            font-size: 25px;
            font-weight: 400;
            color: $black;
            text-align: center;
        }
    }
    &__waves{
        display: flex;
        align-self: flex-end;
    }
}